<h1 class="display-1"> WHY PENNY WISE</h1>
<p class="lead text-right">Penny Wise is a financial literacy application with an extensive library of learning materials alongside
  practical implementations in order to create fiscally responsible consumers</p>
<p class="">Penny Wise was developed to combat the verbose and complex descriptions of efficient use of financial instruments.
By directly accessing the user's bank account balances, and keeping track of the user's weekly income and
expenditures, as well as estimating the amount of money put aside for various savings accounts, it can project what
their future disposable incomes are for the upcoming month.
It is always hard for people to keep track and manage their finances in a timely and intelligent fashion. This app
makes it convenient for bank users to estimate how much extra money they can spend without overspending.</p>
