<h1 class="display-1">Elit Illo, voluptatum?</h1>
<div class="row py-4">
  <div class="col-lg-8">
    <img src="../../assets/img/1drinks.jpg" class="img-fluid" alt="drink.jpg">
  </div>
  <div class="col-lg-4 justify-content-around align-content-between">
    <h2 class="text-center">Esse officia repellat</h2>
    <p class="h5 text-center">
      Consectetur adipisicing elit. Aperiam beatae eos expedita fuga, ipsam iure laudantium
      quas suscipit temporibus vitae. Autem ea illo iusto nemo provident! Aliquam amet cupiditate dolorem, ducimus enim
      exercitationem facilis impedit incidunt inventore ipsa laborum maiores minima neque non odit officiis perferendis
      provident reiciendis reprehenderit rerum saepe sequi totam ullam, unde veritatis vitae voluptas voluptatem?
      Accusamus consequuntur nobis officia quod. Earum est illum labore! Ad, consequuntur cum delectus minima nostrum
      quidem saepe. Lorem ipsum dolor sit amet.
    </p>
  </div>
</div>

<div class="row border-top border-bottom py-3">
  <p class="lead text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At et iure laudantium
    necessitatibus reprehenderit sint vero. A alias asperiores culpa cum eius error ipsa magnam quae qui quidem quod,
    sunt ullam unde. Atque explicabo, id laborum libero provident saepe vel?</p>
</div>
<div class="row py-3 justify-content-around">
  <img src="../../assets/img/2drinks.jpg" class="img-fluid" alt="drink.jpg">
</div>
<div class="row border-top border-bottom py-3">
  <div class="row py-3 justify-content-around">
    <h2 class="text-center">Lorem ipsum dolor</h2>
    <p class="h5 tex-center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos molestias nostrum
      obcaecati, quae unde velit
      voluptate. A ab animi commodi consectetur consequatur deserunt dicta et fugiat ipsam molestias possimus, quod
      ratione saepe. Consectetur debitis eius eligendi est eum excepturi exercitationem fugit nam porro praesentium
      quidem, quis, quo ratione veniam voluptates.
    </p>
  </div>
  <div class="row py-3 justify-content-around">
    <h2 class="text-center">Sit amet, consectetur</h2>
    <p class="h5 tex-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab est omnis quia? Ab adipisci
      asperiores assumenda at autem beatae corporis cumque distinctio dolore dolorem ducimus, eius excepturi explicabo
      fugit hic, id illo incidunt inventore ipsam iure libero magnam molestias neque nulla numquam officiis optio,
      perferendis quae quis sapiente similique sint sit tempore ullam veniam voluptate voluptates. Assumenda autem
      corporis officia?</p>
  </div>
  <div class="row pb-3 justify-content-around border-bottom">
    <div class="col-sm-2"></div>
    <div class="col-md-8">
      <img src="../../assets/img/4drinks.jpg" class="img-fluid" alt="drink.jpg">
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
