<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a routerLink="/frontpage" class="navbar-brand h1 mr-2"><i class="fas fa-cocktail mr-1"></i>Myxology</a>
  <button class="navbar-toggler" data-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav text-light">
      <li class="nav-item">
        <a routerLink="/homepage" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/search" class="nav-link">Discover</a>
      </li>
      <li class="nav-item">
        <a routerLink="/singles" class="nav-link">One Drink(honest)</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Casos </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Dolor</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Valus</a>
      </li>
      <li class="nav-item d-inline d-md-none">
        <button [hidden]="isLoggedIn" class="btn btn-link nav-link" (click)="open(content)">Login</button>
        <!--This button will only appear if a user is logged in-->
        <button [hidden]="!isLoggedIn" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
  <button [hidden]="isLoggedIn" class="btn btn-primary d-none d-md-inline" (click)="open(content)">Login</button>
  <!--This button will only appear if a user is logged in-->
  <button [hidden]="!isLoggedIn" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-login">Login</h1>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
      </div>
      <div>
        <alert id="a-1"></alert>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" form="loginForm" class="btn btn-primary">Login</button>
  </div>
  <button (click)="toRegister()" class="btn btn-outline-primary">Don't have an account with us? Register here</button>
</ng-template>


